.bg-success-subtle{background:#d1e7dd}

.legend-text {
  font-size: 10px;
  color: #666;
}

.sticky-col {
  position: sticky;
  left: 0;
  background: #fff;
}

.min-w-40 {
  min-width: 40px;
}

.max-w-520 {
  max-width: 520px;
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.user-name {
  max-width: 12rem;
}

@media (max-width: 576px) {
  .user-name {
    max-width: 8rem;
  }
}

