{% extends "base.html" %}
{% block content %}
<h1 class="h4">Accueil administration</h1>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{ url_for('admin_vehicles') }}">Gestion du parc</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('admin_reservations') }}">Gestion des réservations</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('calendar_month') }}">Vue mensuelle</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('new_request') }}">Nouvelle demande</a>
</div>
{% endblock %}
