{% extends "base.html" %}
{% block title %}Superadmin – Accueil{% endblock %}
{% block content %}
<h1 class="h4">Accueil administration</h1>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{ url_for('admin_users') }}">Gestion des utilisateurs</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('admin_reservations') }}">Gestion des réservations</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('admin_leaves') }}">Gestion des congés</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('admin_vehicles') }}">Gestion du parc</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('calendar_month') }}">Planning mensuel</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('new_request') }}">Demande de réservation</a>
</div>
{% endblock %}
