{% extends "base.html" %}
{% block title %}Accueil utilisateur – Véhicules{% endblock %}
{% block content %}
<h1 class="h4">Accueil utilisateur</h1>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{ url_for('calendar_month') }}">Planning mensuel</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('new_request') }}">Demande de réservation</a>
  <a class="list-group-item list-group-item-action" href="{{ url_for('contact') }}">Contact</a>
</div>
{% endblock %}
