[Unit]
Description=Execution quotidienne de l'archivage des reservations Vehicules

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
